<div class="navbar">
  <div class="navbar-inner">
    <div class="container">

    		<div class="span2">
    		  <!-- empty -->
  			</div>

 	  <div class="span9">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="#">ProjectB</a>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
          <ul class="nav pull-right">
        	<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "About", about_path %></li>
		  </ul>
      </div>
 	  </div> <!-- end span9 -->


 	  		<div class="span1">
    		  <!-- empty -->
  			</div>


    </div>
  </div>
</div>